.sidebar{
    position:fixed;
    background-color: white;
    top: 55px;
    left: 0;
    bottom: 0;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}

.sidebar-link{
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(227, 226, 226);
}

.sidebar-link img{
    height: 26px;
    margin-bottom: 4px;
}

.sidebar-link div{
    font-family: Roboto, Arieal;
    font-size: 10px;
}
